@import "tailwindcss";

@theme {
  --color-primary: #fab12f;
  --color-secondary: #eb8317;
  --color-background: #fef3e2;
  --color-foreBackground: #171717;
  --color-botton: #e7000b;
  --color-textBold: #101828;
  --color-textSemi: #4a5565;
  --color-textParagraf: #6a7282;
  --color-whiteCustom: #f4f6ff;
  --color-blackCustom: #000000;
  --color-blueCustom: #27548a;
  --color-grayCustom: #99a1af;
}
